.page-home {
    background-color: #cfecf5;

    .sea-header {
        background-color: #0077b6;

        .header-title {
            font-weight: bold;
            margin-bottom: 15px;
            color: #fff;
        }

        .header-subtitle {
            color: #fff;
            font-weight: normal;
        }
    }

    .services {
        margin-top: 10px;
        align-items: center;
    }
}
