.page-home {
    background-color: #cfecf5;

    .sea-header {
        background-color: #cfecf5;

        .header-title {
            font-weight: bold;
            margin-bottom: 15px;
            color: #0077b6;
            font-size: 50px;
        }

        .header-subtitle {
            color: #0077b6;
            font-weight: normal;
            font-size: 20px;
        }
    }

    .sea-service {
        background-color: #0077b6 ;

        .service-title {
            font-weight: bold !important;
            margin-bottom: 15px !important;
            color: #cfecf5 !important;
            font-size: 20px !important;
        }

        .service-subtitle {
            color: #cfecf5;
            font-weight: normal;
            font-size: 20px;
        }
    }
}
