.card {
    background: #fefefe;
    box-shadow: 0px 4px 15px #f1f1f8;
    border-radius: 8px;
    border: none;
    text-decoration: none !important;

    .dashboard-card-title {
        font-weight: 600;
        font-size: 18px;
        color: #0c0d36;
    }

    .dashboard-card-subtitle {
        font-size: 14px;
        color: #030303;
    }
}
