.programs-header{
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
  color: #fff;
}

.component-programs {
  margin-bottom: 20px;
  background: #fff;
  border-radius: 8px;
  padding: 20px 30px 10px 30px;
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
  }

  .program-card{
    
  }

  .products-text {
    font-weight: normal;
    font-size: 18px;
    color: #0c0d36;
    margin-top: 12px;
  }
  .products-price {
    font-weight: 500;
    font-size: 16px;
    color: #ff7158;
  }
}
